form
  label
    display: block
    margin-bottom: 20px
    span
      vertical-align: super
      display: inline-block
      &.mb
        margin-bottom: 12px
  input[type="password"]
    font-family: caption
  input[type="checkbox"]
    width: auto
  input, textarea
    width: 100%
    font-size: 16px
    line-height: 1
    color: #5a5a5a
    padding: 15px 22px 13px
    border-color: transparent
    background-color: #eee
    border-radius: 5px
    &::placeholder
      color: #5a5a5a
      font-family: $default-font
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  textarea
    resize: none
    height: 115px
  .form-error
    display: none!important
  &.form-smaller
    input, textarea
      font-size: 14px
      padding: 12px 18px 10px


form.white-labels
  input
    font-size: 14px
    background-color: #fff
    padding: 12px 18px 10px


.form-notice
  font-size: 11px
  a
    color: $text
    text-decoration: underline
    &:hover
      text-decoration: none

.notice-link
  display: inline-block
  font-size: 16px
  text-transform: uppercase
  margin-top: 35px
  line-height: 1
  color: $text
  +mt(.3s)
  &:hover
    color: $accent



//checkbox customization
.jq-checkbox
  width: 27px
  height: 27px
  background: #eee
  box-shadow: none
  border: none!important
  border-radius: 5px
  margin-right: 12px


.jq-checkbox.checked .jq-checkbox__div
  width: 13px
  height: 11px
  background-image: url('../img/icons/check-angle.svg')
  +bg-cover
  transform: none
  border: none
  margin: 0
  position: absolute
  left: calc(50% - 6.5px)
  top: calc(50% - 5.5px)
//end checkbox customization





