@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)


  .footer-content
    padding-left: 210px

  .blog-item
    &:nth-child(4)
      display: none

  .s-sponsors
    .btn-wrap
      margin-top: 65px

  .sponsor-item
    width: calc(33.333% - 40px)
    &-img
      height: 350px
      span
        font-size: 13px
        &:after
          width: 70px
          left: calc(50% - 35px)
    &-name
      font-size: 16px

  .team-left
    &-title
      font-size: 30px
    .btn
      margin-top: 50px

  .team-item
    width: calc(50% - 25px)
    margin-bottom: 50px
    &-img
      height: 195px
      margin-bottom: 20px
    &-name
      font-size: 16px
    &-country
      font-size: 14px

  .s-bestpigments
    .btn-wrap
      margin-top: 20px

  .bestpigment-item
    width: 188px
    height: 188px
    margin-bottom: 55px
    &-title
      font-size: 14px
      margin-bottom: 30px
      span
        font-size: 12px
    &-content
      padding: 18px
    &-bottom
      padding-top: 30px
    &-cost
      font-size: 20px
    .add-to-cart
      .svg
        width: 32px
        height: auto

  .bestset-item
    margin-right: 20px
    width: 296px
    height: 290px
    margin-bottom: 20px


  .set-1
    width: 404px
    height: 305px
    .bestset-item-content
      padding: 70px

  .set-2, .set-3
    width: 243px
    height: 235px
    .bestset-item-content
      padding: 40px

  .set-3
    margin-right: 0

  .set-4
    width: 506px
    margin-right: 0
    height: 460px
    .bestset-item-content
      padding: 70px 120px

  .set-5
    width: 404px
    height: 390px
    .bestset-item-content
      padding: 70px

  .set-8
    margin-right: 0

  .section-title
    font-size: 30px
    &:before, &:after
      top: 16px


  .intro-logo
    left: calc(50vw - 940px/2)

  .intro-slider
    .owl-dots
      left: calc(50vw - 940px/2)
      top: 250px
    .owl-item
      img
        width: 540px

  .intro-slide
    h1
      font-size: 35px
      padding-left: 50px
      margin-top: 150px
    .btn
      margin-left: 50px



  .hamburger
    display: inline-block

  .main-mnu
    display: none

// ≥970px
+media-breakpoint-down(md)

  .footer-content
    padding-bottom: 120px
    padding-left: 155px

  .footer-wrap
    &:before
      bottom: 75px
      left: calc(50% - 37.5px)

  .foot-socials
    bottom: -5px
    width: 100%
    text-align: center
    .soc-item
      margin: 0 6px

  .foot-item
    .call
      font-size: 20px


  .blog-item
    width: 200px
    height: 210px
    &-preview
      font-size: 10px
      padding: 12px 18px
      top: 145px
    &-date
      margin-bottom: 5px
    &-title
      font-size: 13px
      height: 30px
      margin-bottom: 15px


  .s-passion
    padding-bottom: 50px

  .passion-img
    max-width: 380px
    position: relative
    top: 50px

  .sponsor-item
    width: calc(33.333% - 30px)
    &-img
      height: 270px
      margin-bottom: 35px
      span
        font-size: 10px
        &:after
          height: 1px
          width: 54px
          left: calc(50% - 27px)
          bottom: -15px
    &-name
      font-size: 14px

  .team-left
    &-title
      padding-right: 50px
    &-desc
      padding-right: 50px
    .btn
      margin-top: 100px

  .team-item
    width: 100%
    &:nth-child(3), &:nth-child(4)
      display: none


  .bestpigment-item
    &:nth-child(7), &:nth-child(8)
      display: none

  .bestset-item
    margin-right: 30px
    width: 410px
    height: 305px
    margin-bottom: 30px


  .set-1
    .bestset-item-content
      padding: 70px

  .set-2, .set-4
    width: 270px
    margin-right: 0
    .bestset-item-content
      padding: 40px

  .set-5, .set-6, .set-7, .set-8
    display: none


  .intro-logo
    left: calc(50vw - 710px/2)

  .intro-slider
    .owl-dots
      left: calc(50vw - 710px/2)
      top: 275px
    &:after
      content: ''
      position: absolute
      width: 2px
      height: 155px
      background-color: #a2a2a2
      right: calc(50vw - 710px/2)
      top: 275px
  .intro-slide
    h1
      margin-top: 0
      padding-left: 235px
      padding-right: 0
      border-left: 0
      margin-bottom: 0
    &-right
      flex-direction: column
      .btn
        margin-left: 0
        margin-top: 30px

// ≥750px
+media-breakpoint-down(sm)

  .main-foot
    padding: 50px 0 70px

  .footer-content
    flex-wrap: wrap
    padding-left: 0
    padding-bottom: 320px

  .footer-wrap
    &:before
      bottom: 270px

  .totop
    top: auto
    bottom: 0
    left: calc(50% - 22.5px)

  .footlink
    bottom: 100px
    width: 100%
    text-align: center

  .copyright
    bottom: 125px
    width: 100%
    text-align: center

  .foot-socials
    bottom: 180px

  .foot-item
    width: 45%
    order: 2
    &-3
      width: 100%
      order: 1
      text-align: center
      margin-bottom: 45px
      justify-self: flex-start
      align-self: flex-start
    .call, .mail
      text-align: center


  .s-contacts
    padding: 50px 0
    h2
      text-align: center
      font-size: 25px
      line-height: 1
      border: none
      position: relative
      padding-left: 0
      &:after
        content: ''
        position: absolute
        width: 100px
        height: 2px
        background-color: #a2a2a2
        bottom: -30px
        left: calc(50% - 50px)
    .map-wrapper
      margin-top: 30px

  .s-blog
    .btn-wrap
      margin-top: 15px

  .blog-items-wrap
    flex-wrap: wrap
    justify-content: center

  .blog-item
    margin-bottom: 50px
    &:nth-child(2n-1)
      margin-right: 50px
    &:nth-child(4)
      display: block


  .s-passion
    padding-bottom: 0
    .btn-wrap
      text-align: center
      margin-bottom: 50px

  .passion-title
    font-size: 60px
    padding: 0 50px
    text-align: center
    &:after
      width: 170px
      left: calc(50% - 85px)

  .passion-img
    margin-left: auto
    margin-right: auto
    top: 0

  .sponsor-item
    width: calc(50% - 25px)
    &-img
      height: 270px
    &-name
      font-size: 16px
    &:nth-child(3)
      display: none

  .s-team
    background-image: none
    padding-top: 0
    .btn-wrap
      text-align: center

  .team-left
    &-title
      margin-bottom: 50px
      &:after
        display: none
    &-desc
      margin-bottom: 45px

  .team-items-wrap
    justify-content: center
    flex-direction: column
    align-items: center

  .team-item
    width: 190px


  .bestpigment-item
    width: calc(50% - 30px)
    margin-bottom: 60px
    &:nth-child(5), &:nth-child(6)
      display: none

  .bestset-item
    margin-right: 0
    width: 100%
    height: 305px
    margin-bottom: 45px

  .s-bestsets
    .btn-wrap
      margin-top: 25px

  .intro-logo
    width: 140px
    left: calc(50% - 70px)

  .intro-slider
    .owl-item
      img
        width: calc(100% - 60px)
        margin-left: auto
        margin-right: auto
    .owl-dots
      left: calc(50vw - 530px/2)
      top: 390px
    &:after
      right: calc(50vw - 500px/2)
      top: 390px


  .intro-slide
    h1
      font-size: 25px
      margin-top: 130px
      margin-bottom: 20px
      padding-left: 0
      text-align: center

// ≥480px
+media-breakpoint-down(xs)

  .blog-items-wrap
    justify-content: space-between

  .blog-items-wrap
    flex-direction: column
    align-items: center

  .blog-item
    &:nth-child(2n-1)
      margin-right: 0
    &:nth-child(4)
      display: none

  .passion-img
    max-width: 100%


  .s-passion
    .btn
      width: 220px

  .passion-title
    padding: 0

  .s-sponsors
    padding-top: 30px

  .sponsor-item
    width: calc(50% - 15px)
    &-name
      font-size: 14px

  .team-left
    &-title
      font-size: 20px
      padding-right: 0
      margin-bottom: 30px
    &-desc
      padding-right: 0
      font-size: 14px

  .team-item
    &-country
      font-size: 12px
      width: 28px
    &-name
      font-size: 14px
      width: calc(100% - 28px)

  .bestpigment-item
    width: calc(50% - 15px)
    margin-bottom: 30px

  .section-title
    font-size: 25px
    &:before
      display: none
    &:after
      top: auto
      bottom: -35px
      right: calc(50% - 50px)

  .intro-slider
    .owl-dots
      left: 15px
    &:after
      right: 15px

  .btn
    font-size: 14px
    padding: 13px
    width: 185px



@media screen and (max-width: 390px)

  .foot-mnu
    font-size: 12px

  .foot-item
    width: 48%
    &-3
      width: 100%
    .user-options
      font-size: 12px

  .s-sponsors
    .btn-wrap
      margin-top: 0

  .sponsors-wrap
    flex-direction: column
    align-items: center

  .sponsor-item
    width: 190px
    margin-bottom: 45px

  .bestpigments-wrap
    justify-content: center
  .bestpigment-item
    width: 190px
    margin-bottom: 45px

  .bestset-item
    height: 195px
    margin-bottom: 30px
    &-content
      padding: 50px
    &-title
      font-size: 16px
      margin-bottom: 30px
      span
        margin-bottom: 10px
    &-bottom
      padding-top: 30px
      .svg
        width: 30px
        height: auto
        top: -5px
    &-cost
      font-size: 18px

  .set-1
    .bestset-item-content
      padding: 50px

  .section-title
    font-size: 20px
    margin-bottom: 70px
    &:after
      top: auto
      bottom: -30px
      right: calc(50% - 50px)


  .btn
    font-size: 12px
    padding: 11px

  .intro-slider
    .owl-dots
      left: 0
      width: 100%
      text-align: center
      bottom: 125px
      top: auto
      button.owl-dot
        display: inline-block
        margin: 0 5px
        width: 16px
        height: 16px


    .owl-item
      img
        width: 100%
    &:after
      display: none

  .intro-slide
    padding-bottom: 55px
    h1
      font-size: 20px
      margin-bottom: 40px
      position: relative
      &:after
        content: ''
        position: absolute
        width: 106px
        height: 2px
        background-color: #a2a2a2
        bottom: -20px
        left: calc(50% - 53px)
    &-left
      padding-bottom: 0
    .btn
      margin-top: 95px



  .top-line
    .call
      font-size: 20px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
